# Intel NUC Machine Configuration
MACHINE ?= "intel-corei7-64"

# Target Device Configuration (SATA SSD)
ROOT_BLOCK_DEVICE_NAME = "sda"

# Build Optimization
BB_NUMBER_THREADS ?= "16"
PARALLEL_MAKE ?= "-j 16"

# Download and State Cache Directories (for faster rebuilds)
DL_DIR ?= "${TOPDIR}/../downloads"
SSTATE_DIR ?= "${TOPDIR}/../sstate-cache"

# User Account Configuration
EXTRA_USERS_PARAMS = "\
    useradd -p '' root; \
    usermod -s /bin/bash root; \
    useradd -p '$(openssl passwd -1 nuc123)' -G wheel,audio,video nuc; \
    usermod -s /bin/bash nuc; \
"

# Enable empty passwords for root
EXTRA_IMAGE_FEATURES += "debug-tweaks"

# SystemD and Init System
DISTRO_FEATURES:append = " systemd rauc"
DISTRO_FEATURES_BACKFILL_CONSIDERED += "sysvinit"
VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"

# Network Configuration - Enable systemd-networkd
PACKAGECONFIG:append:pn-systemd = " networkd resolved"
PACKAGECONFIG:remove:pn-systemd = "nss-mymachines"

# Qt5 Configuration - OpenGL, KMS, and hardware acceleration support
DISTRO_FEATURES:append = " opengl kde"
MACHINE_FEATURES:append = " drm"

# Package Installation
IMAGE_INSTALL:append = " intel-nuc-init rauc systemd-conf"

# RAUC Configuration
RAUC_BUNDLE_VERSION = "0.0.1"
RAUC_BUNDLE_DESCRIPTION = "Intel NUC"

# Rootfs Configuration
IMAGE_ROOTFS_EXTRA_SPACE = "1048576"
IMAGE_ROOTFS_SIZE = "4096000"

# GRUB Configuration
PREFERRED_RPROVIDER_virtual/grub-bootconf = "rauc-qemu-grubconf"
EFI_PROVIDER = "grub-efi"

# Image and WIC Configuration
WKS_FILE = "image-installer.wks.in"
IMAGE_FSTYPES:append = " ext4"
IMAGE_TYPEDEP_wic = "ext4"
DEPLOYABLE_IMAGE_TYPES = "ext4 wic"

# Initramfs Configuration
INITRD_IMAGE_LIVE = "core-image-minimal-initramfs"
do_image_wic[depends] += "${INITRD_IMAGE_LIVE}:do_image_complete"
do_rootfs[depends] += "virtual/kernel:do_deploy"

# Console Configuration
SERIAL_CONSOLES = ""

# Boot Files Configuration
IMAGE_BOOT_FILES:append = "\
    ${KERNEL_IMAGETYPE} \
    microcode.cpio \
    ${IMGDEPLOYDIR}/${IMAGE_BASENAME}-${MACHINE}.ext4;rootfs.img \
    ${@bb.utils.contains('EFI_PROVIDER', 'grub-efi', 'grub-efi-bootx64.efi;EFI/BOOT/bootx64.efi', '', d)} \
    ${@bb.utils.contains('EFI_PROVIDER', 'grub-efi', '${IMAGE_ROOTFS}/boot/EFI/BOOT/grub.cfg;EFI/BOOT/grub.cfg', '', d)} \
    ${@bb.utils.contains('EFI_PROVIDER', 'systemd-boot', 'systemd-bootx64.efi;EFI/BOOT/bootx64.efi', '', d)} \
    ${@bb.utils.contains('EFI_PROVIDER', 'systemd-boot', '${IMAGE_ROOTFS}/boot/loader/loader.conf;loader/loader.conf ', '', d)} \
    ${@bb.utils.contains('EFI_PROVIDER', 'systemd-boot', '${IMAGE_ROOTFS}/boot/loader/entries/boot.conf;loader/entries/boot.conf', '', d)} " 