# Yocto build output
yocto/build/
yocto/tmp/
yocto/sstate-cache/
yocto/downloads/
yocto/cache/
yocto/*.tar.*
yocto/*.zst
*.swp
*.log

# Yocto layer repos cloned manually
kirkstone/poky/
kirkstone/meta-openembedded/
kirkstone/meta-intel/
kirkstone/meta-microservicebus-intel-nuc/