# Yocto build output
yocto/build/
yocto/tmp/
yocto/sstate-cache/
yocto/downloads/
yocto/cache/
yocto/*.tar.*
yocto/*.zst
*.swp
*.log

# Yocto layer repos cloned manually
kirkstone/build/
kirkstone/sstate-cache/
kirkstone/downloads/
kirkstone/poky/
kirkstone/meta-openembedded/
kirkstone/meta-intel/
kirkstone/meta-rauc/
# Do NOT ignore meta-nuc, ensure it is tracked
!kirkstone/meta-nuc/