[Unit]
Description=Dashboard Application (LinuxFB)
After=network.target

[Service]
Environment=QT_QPA_PLATFORM=linuxfb
ExecStart=/usr/bin/dashboard
Restart=always

[Install]
WantedBy=multi-user.target 