[Unit]
Description=Enable RAUC D-Bus remote access
After=dbus.service
Before=rauc.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo "tcp:host=0.0.0.0,port=55557,family=ipv4" > /etc/dbus-1/system.d/rauc-remote-listen.conf'
ExecStart=/usr/bin/systemctl reload dbus
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target