[Desktop Entry]
Version=1.0
Type=Application
Name=ARCRO
GenericName=RAUC Update Tool
Comment=Advanced RAUC Control & Rollout Operations
Exec=arcro-gui
Icon=arcro
Terminal=false
Categories=System;Settings;
Keywords=rauc;update;ota;embedded;deployment;
StartupNotify=true
StartupWMClass=ARCRO