[Unit]
Description=Init Intel NUC, create home dir on data partition
DefaultDependencies=no
After=local-fs.target
After=systemd-remount-fs.service
Before=rauc.service
Before=network-pre.target
Before=systemd-networkd.service
Before=systemd-resolved.service

[Service]
Type=notify
ExecStart=/usr/bin/intel-nuc-init.sh
Restart=no
TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target 