[Unit]
Description=Dashboard Application (LinuxFB)
After=network.target

[Service]
ExecStart=/usr/bin/dashboard
Restart=no

[Install]
WantedBy=multi-user.target
